<html>
<head>
  <title>Loopback App</title>
  <meta charset="UTF-8">

  <!-- Angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body ng-app="App">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">College CRUD</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container">
    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#DiscTab" data-toggle="tab">Disciplinas</a></li>
        <li class="nav"><a href="#ProfTab" data-toggle="tab">Professores</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="DiscTab">

          <div ng-controller="DisciplinaController">
            <br />
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Cadastro de Disciplina</h3>
              </div>
              <div class="panel-body">
                <form novalidate>
                  <div class="form-group">
                    <label for="nomeDisciplina">Nome da Disciplina</label>
                    <input type="text" class="form-control" id="nomeDisciplina" ng-model="disciplina.nome" required />
                  </div>
                  <div class="form-group">
                    <label for="periodo">Período</label>
                    <input type="number" class="form-control" id="periodo" ng-model="disciplina.periodo" />
                  </div>
                  <div class="form-group">
                    <label for="vagas">Número de Vagas</label>
                    <input type="number" class="form-control" id="vagas" ng-model="disciplina.vagas" />
                  </div>
                  <div class="form-group">
                    <label for="idProfessor">ID do Professor</label>
                    <input type="number" class="form-control" id="idProfessor" ng-model="disciplina.professorId" />
                  </div>

                  <input type="submit" class="btn btn-primary" ng-click="cadastrar(disciplina)" value="Cadastrar" />
                </form>
              </div>
            </div>

            <pre>form = {{disciplina | json}}</pre>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Disciplinas Cadastradas</h3>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered">
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Período</th>
                    <th>Nº de Vagas</th>
                    <th>ID do Professor</th>
                    <th>Apagar</th>
                  </tr>
                  <tr ng-repeat="disc in disciplinas">
                    <td>{{ disc.id }}</td>
                    <td>{{ disc.nome }}</td>
                    <td>{{ disc.periodo }}</td>
                    <td>{{ disc.vagas }}</td>
                    <td>{{ disc.professorId }}</td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm" ng-click="apagar(disc)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div><!-- /DisciplinaController -->

        </div>
        <div class="tab-pane fade" id="ProfTab">

          <div ng-controller="ProfessorController">
            <br />
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Cadastro de Professor</h3>
              </div>
              <div class="panel-body">

                <form novalidate>
                  <div class="form-group">
                    <label for="nomeProfessor">Nome</label>
                    <input type="text" class="form-control" id="nomeProfessor" ng-model="professor.nome" required />
                  </div>
                  <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" ng-model="professor.cpf" required />
                  </div>
                  <div class="form-group">
                    <label>Genero</label><br />
                    <input type="radio" ng-model="professor.genero" value="masculino" />Masculino
                    <input type="radio" ng-model="professor.genero" value="feminino" />Feminino
                  </div>
                  <div class="form-group">
                    <label for="nascimento">Data de Nascimento</label>
                    <input type="text" class="form-control" id="nascimento" pattern="\d\d/\d\d/\d\d\d\d" ng-model="professor.nascimento" />
                  </div>


                  <div class="form-group">
                    <label for="cep">CEP</label>
                    <input id="cep" type="text" class="form-control" name="cep" ng-model="professor.cep" pattern="\d{8}" ng-change="cepAlterado();" />
                  </div>
                  <div class="form-group">
                    <label for="rua">Rua</label>
                    <input id="rua" disabled type="text" class="form-control" name="rua" ng-model="professor.rua" />
                  </div>
                  <div class="form-group">
                    <label for="numeroEndereco">Número</label>
                    <input id="numeroEndereco" type="text" class="form-control" name="numero" ng-model="professor.numero" />
                  </div>
                  <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input id="bairro" disabled type="text" class="form-control" name="bairro" ng-model="professor.bairro" />
                  </div>
                  <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input id="cidade" disabled type="text" class="form-control" name="cidade" ng-model="professor.cidade" />
                  </div>
                  <div class="form-group">
                    <label for="estado">Estado</label>
                    <input id="estado" disabled type="text" class="form-control" name="estado" ng-model="professor.estado" />
                  </div>

                  <input type="submit" class="btn btn-primary" ng-click="cadastrar(professor)" value="Cadastrar" />

                </form>
              </div>
            </div>

            <pre>form = {{professor | json}}</pre>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Professores Cadastrados</h3>
              </div>
              <div class="panel-body">

                <table class="table table-striped table-bordered">
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Gênero</th>
                    <th>Nascimento</th>
                    <th>CEP</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Apagar</th>
                  </tr>
                  <tr ng-repeat="prof in professores">
                    <td>{{ prof.id }}</td>
                    <td>{{ prof.nome }}</td>
                    <td>{{ prof.cpf }}</td>
                    <td>{{ prof.genero }}</td>
                    <td>{{ prof.nascimento }}</td>
                    <td>{{ prof.cep }}</td>
                    <td>{{ prof.rua }}</td>
                    <td>{{ prof.numero }}</td>
                    <td>{{ prof.bairro }}</td>
                    <td>{{ prof.cidade }}</td>
                    <td>{{ prof.estado }}</td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm" ng-click="apagar(prof)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apagar
                      </button>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>

        </div>
    </div>
</div>


  

  <!-- MODULES -->
  <script src="js/apps.js"></script>

  <!-- CONTROLLERS -->
  <script src="js/controllers/ProfessorController.js"></script>
  <script src="js/controllers/DisciplinaController.js"></script>

  <!-- SERVICES -->
  <script src="js/services/lb-services.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.js"></script>

</body>
</html>
